.filter{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
    &__title{
        display: flex;
        justify-content: center;
    }
    &__row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__el{
        flex-shrink: 0;
        padding: 10px;
        background: #e4e4e4;
        margin: 2px;
        border-radius: 5px;
        cursor: pointer;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        &--selected {
            color: white;
            background: rgb(40, 47, 148);
        }
    }
    &__empty{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        color: white;
        background: #e4e4e4;
        margin-top: 10px;
        background: #CC5257;
        cursor: pointer;
    }

}