.map{
    svg { 
        width: 100%; 
        height: auto;
        overflow: visible;
    }
    
    .vector path {
        fill: none;
        stroke: #35143C;
        stroke-linejoin: round;
        stroke-linecap: round;
    }

    &__updatingAlert{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
